.article-container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  padding: 0rem 3rem;
  box-sizing: border-box;
  margin-top: 0.5rem;
}

.article {
  box-sizing: border-box;
  background-color: #eeedeb;
  width: 447px;
  height: 380px;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  border-bottom: 1px solid var(--vintage);
}

.link {
  text-decoration: none !important;
  color: var(--Blacks) !important;
}

.article:hover {
  border-bottom: 5px solid var(--vintage);
  color: var(--vintage);
}

/* .title:hover {
  color: var(--vintage);
} */

.img {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 180px;
  border-radius: 0.2rem;
  box-sizing: border-box;
  opacity: 0.7;
}

.img:hover {
  opacity: 1;
}

.head {
  text-align: center;
  color: rgb(176, 0, 32);
}

.loader-container {
  width: 99%;
  box-sizing: border-box;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem auto;
}

input {
  width: 20rem;
  padding: 0.5rem;
  background-color: transparent !important;
  border: none;
  border-bottom: 1px solid var(--vintage);
  color: var(--white);
}

input:focus {
  outline: none;
}

.marquee {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 15px;
  margin-top: 4rem;
}

.marquee h3 {
  margin: 0;
  padding-right: 10px;
}

.marquee-content {
  display: flex;
  align-items: center;
}

.marquee-content p {
  margin: 0 10px; /* Adjust spacing as needed */
}

@media only screen and (max-width: 800px) {
  .article-container {
    width: 100vw;
    padding: 0%;
    margin: 0%;
    display: block;
  }

  .article {
    padding: 0.4rem 1rem;
    margin: auto;
    width: 95%;
    height: 130px;
    margin-bottom: 0.5rem !important;
    border-bottom: none;
    background-color: #76abae22;
    border-radius: 0.5rem;
  }

  .article:hover {
    border-left: 5px solid var(--vintage);
    color: var(--vintage);
  }

  .title {
    font-size: 15px;
  }

  .title:hover {
    color: var(--vintage);
  }

  .img {
    background-size: auto;
    width: 100px;
    height: 100px;
    margin: auto;
  }

  .container {
    display: flex;
    gap: 0.7rem;
  }

  .mini-container {
    display: flex;
    flex-direction: column;
  }

  .mini-container > p {
    padding: 0%;
    margin: 0%;
  }

  .head {
    font-size: 17px;
  }

  .source {
    color: #704264;
    font-size: 13px;
    font-weight: 700;
  }

  .publish {
    font-size: 14px;
  }
  .loader-container {
    box-sizing: border-box;
    width: 99%;
  }

  .search {
    display: flex;
    margin-top: 2rem;
  }

  .search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 1rem;
    margin-top: 0.8rem;
  }
  .marquee {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 15px;
  }

  .marquee h3 {
    margin: 0;
    padding-right: 10px;
  }

  .marquee-content {
    display: flex;
    align-items: center;
  }

  .marquee-content p {
    margin: 0 10px; /* Adjust spacing as needed */
  }
}
