.sidebar {
  position: fixed;
  top: 0;
  right: -30%;
  width: 20%;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease;
  padding: 20px;
  z-index: 1000;
  overflow-y: auto; /* Added for better usability */
}

.sidebar.open {
  right: 0;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--black);
  cursor: pointer;
}

h2 {
  margin-top: 40px; /* Adjusted for better spacing */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

li a {
  text-decoration: none;
  color: #007bff;
}

li a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 800px) {
  .sidebar {
    position: fixed;
    top: 0;
    right: -70%;
    width: 60%;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    padding: 20px;
    z-index: 1000;
    overflow-y: auto;
  }
}
