.search-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input {
  color: var(--white);
  width: 12rem;
}

form {
  padding: 0%;
  margin: 0;
  width: 100%;
  display: flex;
}

button {
  padding: 0.3rem;
  border-radius: 10px;
  border: none;
  margin-left: 2rem;
  background-color: var(--vintage);
  color: var(--white);
}
button:hover {
  background-color: none;
  border: 1px solid var(--vintage);
  color: var(--black);
}

@media screen and (max-width: 800px) {
  input {
    color: var(--black);
  }
}
